<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h1>Basketball News</h1>
</nav>
<div class='container-fluid'>
    <div class='row'>
        {{#each dbArticlesArray}}
        <div class='col-12 col-sm-6 col-md-4 col-lg-3' >
            <div class="card">
                <img class="card-img-top" src={{thumbnail}} alt="Card image cap">
                <div class="card-body">
                    <a class="card-title text-dark" href={{link}}>
                        <h5>{{headline}}</h5>
                    </a>
                    <p class="card-text">{{summary}}</p>
                    <button id="addComment" dbID={{_id}} type="button" class="btn btn-dark" data-toggle="modal" data-target="#commentWindow">Add a Comment</a>
                </div>
            </div>
        </div>
        {{/each}}
        <!-- Modal -->
        <div class="modal fade" id="commentWindow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="commentWindowLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <div class="modal-body">
                    <form class="form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control" id="comment" name="commentText" placeholder="Comment Here">
                        </div>
                        <button type="submit" class="btn btn-default" id="saveComment">Submit Comment</button>
                    </form>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <script type="text/javascript">
    //adds article related data to modal window when it's clicked
    $("body").on("click", "#addComment", function() {
        $(".modal-title").text($(this).siblings("a").children("h5").text())
        $("#saveComment").attr("dbID",$(this).attr("dbID"))
    })

    $("body").on("click", "#saveComment", function(event) {
        event.preventDefault()
        var data = {
            comment: $(this).siblings(".form-group").find("#comment").val()
        }
        $.ajax(`/${$("#saveComment").attr("dbID")}`, {
            type: "POST",
            data: data
            }).then(
            function(response) {
                console.log("this is the response:", response);
            }
        );
    })
</script>
