<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h1>Basketball News</h1>
</nav>
<div class='container-fluid'>
    <div class='row'>
        {{#each dbArticlesArray}}
        <div class='col-12 col-sm-6 col-md-4 col-lg-3' >
            <div class="card">
                <img class="card-img-top" src={{thumbnail}} alt="Card image cap">
                <div class="card-body">
                    <a class="card-title text-dark" href={{link}}>
                        <h5>{{headline}}</h5>
                    </a>
                    <p class="card-text">{{summary}}</p>
                    <button id="commentsModal" dbID={{_id}} type="button" class="btn btn-dark" data-toggle="modal" data-target="#commentWindow">Comments</a>
                </div>
            </div>
        </div>
        {{/each}}
        <!-- Modal -->
        <div class="modal fade" id="commentWindow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="commentWindowLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <div class="modal-body">
                    <ul class="list-group" id="commentList">
                    </ul>
                </div>
                    <div class="modal-footer">
                        <div class="input-group">
                            <form class="form-inline">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="comment" name="commentText" placeholder="Add New Comment">
                                </div>
                                <button type="submit" class="btn btn-dark" id="saveComment">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <script type="text/javascript">
    $("body").on("click", "#commentsModal", function() {
        //adds article related data to modal window when it's clicked
        $(".modal-title").text($(this).siblings("a").children("h5").text())
        $("#saveComment").attr("dbID",$(this).attr("dbID"))
        
        //check for existing comments and render to commentsList area
        $.ajax(`/${$("#saveComment").attr("dbID")}`, {
            type: "GET",
        })
        .then(function(dbArticle) {
            var commentsArray = dbArticle[0].comments
            if (commentsArray.length === 0) {
                $("#commentList").html("<h5>No Comments Yet</h5>")
            } else {
                $("#commentList").empty()
                commentsArray.forEach(function(element) {
                    $("#commentList").append(`<li class="list-group-item" id="${element._id}">${element.comment}<i class="fas fa-trash" style="float:right;"></i></li>`)
                })
            }
        })
    })

    $("body").on("click", "#saveComment", function(event) {
        event.preventDefault()
        //store comment text from input field
        var data = {
            comment: $(this).siblings(".form-group").find("#comment").val()
        }
        //send comment to db to be saved and rerender all comments when response comes back  
        $.ajax(`/${$("#saveComment").attr("dbID")}`, {
            type: "POST",
            data: data
        })
        .then(function(dbArticle) {
            var commentsArray = dbArticle.comments
            $("#commentList").empty()
            commentsArray.forEach(function(element) {
                $("#commentList").append(
                `<li class="list-group-item" id="${element._id}">${element.comment}<i class="fas fa-trash" style="float:right;"></i></li>`
                )
            })
        });
    })

    $("body").on("click", ".fa-trash", function(event) {
        event.preventDefault()
       
        //extract the selected comment's id from it's parent li element
        var commentID = $(this).parent().attr("id")
         
        //send comment id to server for deletion and render new comments array upon response
        $.ajax(`/${commentID}`, {
            type: "DELETE"
        })
        .then(function(dbArticle) {
            var commentsArray = dbArticle.comments
            if (commentsArray.length === 0) {
                $("#commentList").html("<h7>No Comments Yet</h7>")
            } else {
                $("#commentList").empty()
                commentsArray.forEach(function(element) {
                    $("#commentList").append(
                    `<li class="list-group-item" id="${element._id}">${element.comment}<i class="fas fa-trash" style="float:right;"></i></li>`
                    )
                })
            }
        })
    })
</script>
